In [8]:
import numpy as np

In [9]:
import pandas as pd

In [10]:
data = pd.read_csv("Salary-Calculation-Sheet-and-Salary-Slip-Template-in-Excel.csv")

In [11]:
data

,1,2,3,4,5,6,7,8,9,10,...,27,28,29,30,31,32,33,34,35,36
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Name,Designation,Month,Year,Total Days of Month,Allowed Leave,Leave taken,Worked Days,CTC,CTC for December 2016,...,Salary Advance,TOTAL,NET PAYABLE,Gender,Prefix,Name of Authorised Signatory,PF Applicable,Medical Bill Submitted,Medical Bill Amount,Your Company Name
2,Raj Sharma,Chief Technical Officer,December,2016,30,2,0,30,60000,60000,...,NaN,8800,63050,Male,Mr,Managing Director,Yes,Yes,1250,Company Name
3,Sharad Gandhi,Accountant,December,2016,30,0,0,30,30000,30000,...,NaN,2300,28750,Male,Mr,Managing Director,Yes,Yes,1250,ABC & Company Ltd
4,Danish D'Souza,Senior Web Developer,December,2016,30,0,0,30,20000,20000,...,NaN,1440,17310,Male,Mr,Managing Director,Yes,Yes,2000,Sabu & Company Ltd
5,Pawan Patil,Senior Ux/Ui Developer,December,2016,30,2,2,30,25000,25000,...,NaN,1800,21950,Male,Mr,Managing Director,Yes,Yes,1250,ABC & Company Ltd
6,Rijo Paul,Senior Web Developer,December,2016,30,2,2,30,22000,22000,...,NaN,1580,21470,Male,Mr,Managing Director,Yes,Yes,2200,ABC & Company Ltd
7,Joseph P,Senior Web Developer,December,2016,30,2,1,30,14000,14000,...,NaN,1010,14040,Male,Mr,Managing Director,Yes,Yes,1400,ABC & Company Ltd
8,Aakash Patel,Web Developer,December,2016,30,2,2,30,15000,15000,...,NaN,1080,12720,Male,Mr,Managing Director,Yes,Yes,1200,ABC & Company Ltd
9,Ganesh Rahu,Ux/Ui Designer,December,2016,30,2,1,30,14000,14000,...,NaN,1010,11790,Male,Mr,Managing Director,Yes,Yes,1200,ABC & Company Ltd
10,Vinudas K.S,Web Developer,December,2016,30,2,2,30,14000,14000,...,NaN,1010,13240,Male,Mr,Managing Director,Yes,Yes,1400,ABC & Company Ltd
11,Divya Kumar,Web Developer,December,2016,30,2,2,30,8000,8000,...,NaN,580,6620,Female,Mrs,Managing Director,Yes,Yes,800,ABC & Company Ltd
12,Shilpa R,QAA,December,2016,30,2,3,29,8000,7730,...,NaN,540,6420,Female,Mrs,Managing Director,Yes,Yes,774,ABC & Company Ltd
13,Sindhu J.P,Web Developer,December,2016,30,2,1,30,8000,8000,...,NaN,580,6620,Female,Mrs,Managing Director,Yes,Yes,800,ABC & Company Ltd
14,Deepthi P.S,QAA,December,2016,30,2,2,30,8000,8000,...,NaN,580,6670,Female,Mrs,Managing Director,Yes,Yes,749,ABC & Company Ltd
15,Lijin k c,Accountant,December,2016,30,2,2,30,13000,13000,...,NaN,940,13060,Male,Mr,Managing Director,Yes,Yes,1000,ABC & Company Ltd
16,Sayad K M,Project Manager,December,2016,30,2,1,30,35000,35000,...,NaN,3800,31950,Male,Mr,Managing Director,Yes,Yes,1250,ABC & Company Ltd
17,Ajil k Mohanan,Web Developer,December,2016,30,2,2,30,22000,22000,...,NaN,1580,19170,Male,Mr,Managing Director,Yes,Yes,2000,ABC & Company Ltd
18,Edison ML,Web Developer,December,2016,30,2,0,30,12000,12000,...,NaN,860,10940,Male,Mr,Managing Director,Yes,Yes,1200,ABC & Company Ltd
19,Basil P E,Web Developer,December,2016,30,2,1,30,22000,22000,...,NaN,1580,24350,Male,Mr,Managing Director,Yes,Yes,1067,ABC & Company Ltd
20,Jobin George,Web Developer,December,2016,30,2,0,30,16000,16000,...,NaN,1150,15100,Male,Mr,Managing Director,Yes,Yes,1600,ABC & Company Ltd
21,Jismon Tomy,Web Developer,December,2016,30,2,1,30,10000,10000,...,NaN,720,10280,Male,Mr,Managing Director,Yes,Yes,1000,ABC & Company Ltd
22,Sharafali P,Ux/Ui Designer,December,2016,30,2,0,30,14000,14000,...,NaN,1010,11740,Male,Mr,Managing Director,Yes,Yes,1400,ABC & Company Ltd
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ABC & Company Ltd
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ABC & Company Ltd
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ABC & Company Ltd
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ABC & Company Ltd
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ABC & Company Ltd
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ABC & Company Ltd
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ABC & Company Ltd
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ABC & Company Ltd
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ABC & Company Ltd
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ABC & Company Ltd
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ABC & Company Ltd
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ABC & Company Ltd
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ABC & Company Ltd
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ABC & Company Ltd
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ABC & Company Ltd
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ABC & Company Ltd
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ABC & Company Ltd
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ABC & Company Ltd
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ABC & Company Ltd
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ABC & Company Ltd
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ABC & Company Ltd
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ABC & Company Ltd
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ABC & Company Ltd
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ABC & Company Ltd
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ABC & Company Ltd

In [12]:
print(data)

                 1                        2         3     4  \
0              NaN                      NaN       NaN   NaN
1             Name              Designation     Month  Year
2       Raj Sharma  Chief Technical Officer  December  2016
3    Sharad Gandhi               Accountant  December  2016
4   Danish D'Souza     Senior Web Developer  December  2016
5      Pawan Patil   Senior Ux/Ui Developer  December  2016
6        Rijo Paul     Senior Web Developer  December  2016
7         Joseph P     Senior Web Developer  December  2016
8     Aakash Patel            Web Developer  December  2016
9      Ganesh Rahu           Ux/Ui Designer  December  2016
10     Vinudas K.S            Web Developer  December  2016
11     Divya Kumar            Web Developer  December  2016
12        Shilpa R                      QAA  December  2016
13      Sindhu J.P            Web Developer  December  2016
14     Deepthi P.S                      QAA  December  2016
15       Lijin k c               Accountant  December  2016
16       Sayad K M          Project Manager  December  2016
17  Ajil k Mohanan            Web Developer  December  2016
18       Edison ML            Web Developer  December  2016
19       Basil P E            Web Developer  December  2016
20    Jobin George            Web Developer  December  2016
21     Jismon Tomy            Web Developer  December  2016
22     Sharafali P           Ux/Ui Designer  December  2016
23             NaN                      NaN       NaN   NaN
24             NaN                      NaN       NaN   NaN
25             NaN                      NaN       NaN   NaN
26             NaN                      NaN       NaN   NaN
27             NaN                      NaN       NaN   NaN
28             NaN                      NaN       NaN   NaN
29             NaN                      NaN       NaN   NaN
30             NaN                      NaN       NaN   NaN
31             NaN                      NaN       NaN   NaN
32             NaN                      NaN       NaN   NaN
33             NaN                      NaN       NaN   NaN
34             NaN                      NaN       NaN   NaN
35             NaN                      NaN       NaN   NaN
36             NaN                      NaN       NaN   NaN
37             NaN                      NaN       NaN   NaN
38             NaN                      NaN       NaN   NaN
39             NaN                      NaN       NaN   NaN
40             NaN                      NaN       NaN   NaN
41             NaN                      NaN       NaN   NaN
42             NaN                      NaN       NaN   NaN
43             NaN                      NaN       NaN   NaN
44             NaN                      NaN       NaN   NaN
45             NaN                      NaN       NaN   NaN
46             NaN                      NaN       NaN   NaN
47             NaN                      NaN       NaN   NaN

                      5              6            7            8      9  \
0                   NaN            NaN          NaN          NaN    NaN
1   Total Days of Month  Allowed Leave  Leave taken  Worked Days    CTC
2                    30              2            0           30  60000
3                    30              0            0           30  30000
4                    30              0            0           30  20000
5                    30              2            2           30  25000
6                    30              2            2           30  22000
7                    30              2            1           30  14000
8                    30              2            2           30  15000
9                    30              2            1           30  14000
10                   30              2            2           30  14000
11                   30              2            2           30   8000
12                   30              2            3           29   8000
13                   30              2            1           30   8000
14                   30              2            2           30   8000
15                   30              2            2           30  13000
16                   30              2            1           30  35000
17                   30              2            2           30  22000
18                   30              2            0           30  12000
19                   30              2            1           30  22000
20                   30              2            0           30  16000
21                   30              2            1           30  10000
22                   30              2            0           30  14000
23                  NaN            NaN          NaN            0    NaN
24                  NaN            NaN          NaN            0    NaN
25                  NaN            NaN          NaN            0    NaN
26                  NaN            NaN          NaN            0    NaN
27                  NaN            NaN          NaN            0    NaN
28                  NaN            NaN          NaN            0    NaN
29                  NaN            NaN          NaN            0    NaN
30                  NaN            NaN          NaN            0    NaN
31                  NaN            NaN          NaN            0    NaN
32                  NaN            NaN          NaN            0    NaN
33                  NaN            NaN          NaN            0    NaN
34                  NaN            NaN          NaN            0    NaN
35                  NaN            NaN          NaN            0    NaN
36                  NaN            NaN          NaN            0    NaN
37                  NaN            NaN          NaN            0    NaN
38                  NaN            NaN          NaN            0    NaN
39                  NaN            NaN          NaN            0    NaN
40                  NaN            NaN          NaN            0    NaN
41                  NaN            NaN          NaN            0    NaN
42                  NaN            NaN          NaN            0    NaN
43                  NaN            NaN          NaN            0    NaN
44                  NaN            NaN          NaN            0    NaN
45                  NaN            NaN          NaN            0    NaN
46                  NaN            NaN          NaN            0    NaN
47                  NaN            NaN          NaN            0    NaN

                       10  ...              27     28           29      30  \
0                     NaN  ...             NaN    NaN          NaN     NaN
1   CTC for December 2016  ...  Salary Advance  TOTAL  NET PAYABLE  Gender
2                   60000  ...             NaN   8800        63050    Male
3                   30000  ...             NaN   2300        28750    Male
4                   20000  ...             NaN   1440        17310    Male
5                   25000  ...             NaN   1800        21950    Male
6                   22000  ...             NaN   1580        21470    Male
7                   14000  ...             NaN   1010        14040    Male
8                   15000  ...             NaN   1080        12720    Male
9                   14000  ...             NaN   1010        11790    Male
10                  14000  ...             NaN   1010        13240    Male
11                   8000  ...             NaN    580         6620  Female
12                   7730  ...             NaN    540         6420  Female
13                   8000  ...             NaN    580         6620  Female
14                   8000  ...             NaN    580         6670  Female
15                  13000  ...             NaN    940        13060    Male
16                  35000  ...             NaN   3800        31950    Male
17                  22000  ...             NaN   1580        19170    Male
18                  12000  ...             NaN    860        10940    Male
19                  22000  ...             NaN   1580        24350    Male
20                  16000  ...             NaN   1150        15100    Male
21                  10000  ...             NaN    720        10280    Male
22                  14000  ...             NaN   1010        11740    Male
23                    NaN  ...             NaN      0          NaN     NaN
24                    NaN  ...             NaN      0          NaN     NaN
25                    NaN  ...             NaN      0          NaN     NaN
26                    NaN  ...             NaN      0          NaN     NaN
27                    NaN  ...             NaN      0          NaN     NaN
28                    NaN  ...             NaN      0          NaN     NaN
29                    NaN  ...             NaN      0          NaN     NaN
30                    NaN  ...             NaN      0          NaN     NaN
31                    NaN  ...             NaN      0          NaN     NaN
32                    NaN  ...             NaN      0          NaN     NaN
33                    NaN  ...             NaN      0          NaN     NaN
34                    NaN  ...             NaN      0          NaN     NaN
35                    NaN  ...             NaN      0          NaN     NaN
36                    NaN  ...             NaN      0          NaN     NaN
37                    NaN  ...             NaN      0          NaN     NaN
38                    NaN  ...             NaN      0          NaN     NaN
39                    NaN  ...             NaN      0          NaN     NaN
40                    NaN  ...             NaN      0          NaN     NaN
41                    NaN  ...             NaN      0          NaN     NaN
42                    NaN  ...             NaN      0          NaN     NaN
43                    NaN  ...             NaN      0          NaN     NaN
44                    NaN  ...             NaN      0          NaN     NaN
45                    NaN  ...             NaN      0          NaN     NaN
46                    NaN  ...             NaN      0          NaN     NaN
47                    NaN  ...             NaN      0          NaN     NaN

        31                            32             33  \
0      NaN                           NaN            NaN
1   Prefix  Name of Authorised Signatory  PF Applicable
2       Mr             Managing Director            Yes
3       Mr             Managing Director            Yes
4       Mr             Managing Director            Yes
5       Mr             Managing Director            Yes
6       Mr             Managing Director            Yes
7       Mr             Managing Director            Yes
8       Mr             Managing Director            Yes
9       Mr             Managing Director            Yes
10      Mr             Managing Director            Yes
11     Mrs             Managing Director            Yes
12     Mrs             Managing Director            Yes
13     Mrs             Managing Director            Yes
14     Mrs             Managing Director            Yes
15      Mr             Managing Director            Yes
16      Mr             Managing Director            Yes
17      Mr             Managing Director            Yes
18      Mr             Managing Director            Yes
19      Mr             Managing Director            Yes
20      Mr             Managing Director            Yes
21      Mr             Managing Director            Yes
22      Mr             Managing Director            Yes
23     NaN                           NaN            NaN
24     NaN                           NaN            NaN
25     NaN                           NaN            NaN
26     NaN                           NaN            NaN
27     NaN                           NaN            NaN
28     NaN                           NaN            NaN
29     NaN                           NaN            NaN
30     NaN                           NaN            NaN
31     NaN                           NaN            NaN
32     NaN                           NaN            NaN
33     NaN                           NaN            NaN
34     NaN                           NaN            NaN
35     NaN                           NaN            NaN
36     NaN                           NaN            NaN
37     NaN                           NaN            NaN
38     NaN                           NaN            NaN
39     NaN                           NaN            NaN
40     NaN                           NaN            NaN
41     NaN                           NaN            NaN
42     NaN                           NaN            NaN
43     NaN                           NaN            NaN
44     NaN                           NaN            NaN
45     NaN                           NaN            NaN
46     NaN                           NaN            NaN
47     NaN                           NaN            NaN

                        34                   35                  36
0                      NaN                  NaN                 NaN
1   Medical Bill Submitted  Medical Bill Amount   Your Company Name
2                      Yes                 1250        Company Name
3                      Yes                 1250   ABC & Company Ltd
4                      Yes                 2000  Sabu & Company Ltd
5                      Yes                 1250   ABC & Company Ltd
6                      Yes                 2200   ABC & Company Ltd
7                      Yes                 1400   ABC & Company Ltd
8                      Yes                 1200   ABC & Company Ltd
9                      Yes                 1200   ABC & Company Ltd
10                     Yes                 1400   ABC & Company Ltd
11                     Yes                  800   ABC & Company Ltd
12                     Yes                  774   ABC & Company Ltd
13                     Yes                  800   ABC & Company Ltd
14                     Yes                  749   ABC & Company Ltd
15                     Yes                 1000   ABC & Company Ltd
16                     Yes                 1250   ABC & Company Ltd
17                     Yes                 2000   ABC & Company Ltd
18                     Yes                 1200   ABC & Company Ltd
19                     Yes                 1067   ABC & Company Ltd
20                     Yes                 1600   ABC & Company Ltd
21                     Yes                 1000   ABC & Company Ltd
22                     Yes                 1400   ABC & Company Ltd
23                     NaN                  NaN   ABC & Company Ltd
24                     NaN                  NaN   ABC & Company Ltd
25                     NaN                  NaN   ABC & Company Ltd
26                     NaN                  NaN   ABC & Company Ltd
27                     NaN                  NaN   ABC & Company Ltd
28                     NaN                  NaN   ABC & Company Ltd
29                     NaN                  NaN   ABC & Company Ltd
30                     NaN                  NaN   ABC & Company Ltd
31                     NaN                  NaN   ABC & Company Ltd
32                     NaN                  NaN   ABC & Company Ltd
33                     NaN                  NaN   ABC & Company Ltd
34                     NaN                  NaN   ABC & Company Ltd
35                     NaN                  NaN   ABC & Company Ltd
36                     NaN                  NaN   ABC & Company Ltd
37                     NaN                  NaN   ABC & Company Ltd
38                     NaN                  NaN   ABC & Company Ltd
39                     NaN                  NaN   ABC & Company Ltd
40                     NaN                  NaN   ABC & Company Ltd
41                     NaN                  NaN   ABC & Company Ltd
42                     NaN                  NaN   ABC & Company Ltd
43                     NaN                  NaN   ABC & Company Ltd
44                     NaN                  NaN   ABC & Company Ltd
45                     NaN                  NaN   ABC & Company Ltd
46                     NaN                  NaN   ABC & Company Ltd
47                     NaN                  NaN   ABC & Company Ltd

[48 rows x 36 columns]

In [13]:
data.isnull()

,1,2,3,4,5,6,7,8,9,10,...,27,28,29,30,31,32,33,34,35,36
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
23,True,True,True,True,True,True,True,False,True,True,...,True,False,True,True,True,True,True,True,True,False
24,True,True,True,True,True,True,True,False,True,True,...,True,False,True,True,True,True,True,True,True,False
25,True,True,True,True,True,True,True,False,True,True,...,True,False,True,True,True,True,True,True,True,False
26,True,True,True,True,True,True,True,False,True,True,...,True,False,True,True,True,True,True,True,True,False
27,True,True,True,True,True,True,True,False,True,True,...,True,False,True,True,True,True,True,True,True,False
28,True,True,True,True,True,True,True,False,True,True,...,True,False,True,True,True,True,True,True,True,False
29,True,True,True,True,True,True,True,False,True,True,...,True,False,True,True,True,True,True,True,True,False
30,True,True,True,True,True,True,True,False,True,True,...,True,False,True,True,True,True,True,True,True,False
31,True,True,True,True,True,True,True,False,True,True,...,True,False,True,True,True,True,True,True,True,False
32,True,True,True,True,True,True,True,False,True,True,...,True,False,True,True,True,True,True,True,True,False
33,True,True,True,True,True,True,True,False,True,True,...,True,False,True,True,True,True,True,True,True,False
34,True,True,True,True,True,True,True,False,True,True,...,True,False,True,True,True,True,True,True,True,False
35,True,True,True,True,True,True,True,False,True,True,...,True,False,True,True,True,True,True,True,True,False
36,True,True,True,True,True,True,True,False,True,True,...,True,False,True,True,True,True,True,True,True,False
37,True,True,True,True,True,True,True,False,True,True,...,True,False,True,True,True,True,True,True,True,False
38,True,True,True,True,True,True,True,False,True,True,...,True,False,True,True,True,True,True,True,True,False
39,True,True,True,True,True,True,True,False,True,True,...,True,False,True,True,True,True,True,True,True,False
40,True,True,True,True,True,True,True,False,True,True,...,True,False,True,True,True,True,True,True,True,False
41,True,True,True,True,True,True,True,False,True,True,...,True,False,True,True,True,True,True,True,True,False
42,True,True,True,True,True,True,True,False,True,True,...,True,False,True,True,True,True,True,True,True,False
43,True,True,True,True,True,True,True,False,True,True,...,True,False,True,True,True,True,True,True,True,False
44,True,True,True,True,True,True,True,False,True,True,...,True,False,True,True,True,True,True,True,True,False
45,True,True,True,True,True,True,True,False,True,True,...,True,False,True,True,True,True,True,True,True,False
46,True,True,True,True,True,True,True,False,True,True,...,True,False,True,True,True,True,True,True,True,False
47,True,True,True,True,True,True,True,False,True,True,...,True,False,True,True,True,True,True,True,True,False

In [19]:
data.dropna()

,1,2,3,4,5,6,7,8,9,10,...,27,28,29,30,31,32,33,34,35,36
1,Name,Designation,Month,Year,Total Days of Month,Allowed Leave,Leave taken,Worked Days,CTC,CTC for December 2016,...,Salary Advance,TOTAL,NET PAYABLE,Gender,Prefix,Name of Authorised Signatory,PF Applicable,Medical Bill Submitted,Medical Bill Amount,Your Company Name

In [17]:
data.fillna('')

,1,2,3,4,5,6,7,8,9,10,...,27,28,29,30,31,32,33,34,35,36
0,,,,,,,,,,,...,,,,,,,,,,
1,Name,Designation,Month,Year,Total Days of Month,Allowed Leave,Leave taken,Worked Days,CTC,CTC for December 2016,...,Salary Advance,TOTAL,NET PAYABLE,Gender,Prefix,Name of Authorised Signatory,PF Applicable,Medical Bill Submitted,Medical Bill Amount,Your Company Name
2,Raj Sharma,Chief Technical Officer,December,2016,30,2,0,30,60000,60000,...,,8800,63050,Male,Mr,Managing Director,Yes,Yes,1250,Company Name
3,Sharad Gandhi,Accountant,December,2016,30,0,0,30,30000,30000,...,,2300,28750,Male,Mr,Managing Director,Yes,Yes,1250,ABC & Company Ltd
4,Danish D'Souza,Senior Web Developer,December,2016,30,0,0,30,20000,20000,...,,1440,17310,Male,Mr,Managing Director,Yes,Yes,2000,Sabu & Company Ltd
5,Pawan Patil,Senior Ux/Ui Developer,December,2016,30,2,2,30,25000,25000,...,,1800,21950,Male,Mr,Managing Director,Yes,Yes,1250,ABC & Company Ltd
6,Rijo Paul,Senior Web Developer,December,2016,30,2,2,30,22000,22000,...,,1580,21470,Male,Mr,Managing Director,Yes,Yes,2200,ABC & Company Ltd
7,Joseph P,Senior Web Developer,December,2016,30,2,1,30,14000,14000,...,,1010,14040,Male,Mr,Managing Director,Yes,Yes,1400,ABC & Company Ltd
8,Aakash Patel,Web Developer,December,2016,30,2,2,30,15000,15000,...,,1080,12720,Male,Mr,Managing Director,Yes,Yes,1200,ABC & Company Ltd
9,Ganesh Rahu,Ux/Ui Designer,December,2016,30,2,1,30,14000,14000,...,,1010,11790,Male,Mr,Managing Director,Yes,Yes,1200,ABC & Company Ltd
10,Vinudas K.S,Web Developer,December,2016,30,2,2,30,14000,14000,...,,1010,13240,Male,Mr,Managing Director,Yes,Yes,1400,ABC & Company Ltd
11,Divya Kumar,Web Developer,December,2016,30,2,2,30,8000,8000,...,,580,6620,Female,Mrs,Managing Director,Yes,Yes,800,ABC & Company Ltd
12,Shilpa R,QAA,December,2016,30,2,3,29,8000,7730,...,,540,6420,Female,Mrs,Managing Director,Yes,Yes,774,ABC & Company Ltd
13,Sindhu J.P,Web Developer,December,2016,30,2,1,30,8000,8000,...,,580,6620,Female,Mrs,Managing Director,Yes,Yes,800,ABC & Company Ltd
14,Deepthi P.S,QAA,December,2016,30,2,2,30,8000,8000,...,,580,6670,Female,Mrs,Managing Director,Yes,Yes,749,ABC & Company Ltd
15,Lijin k c,Accountant,December,2016,30,2,2,30,13000,13000,...,,940,13060,Male,Mr,Managing Director,Yes,Yes,1000,ABC & Company Ltd
16,Sayad K M,Project Manager,December,2016,30,2,1,30,35000,35000,...,,3800,31950,Male,Mr,Managing Director,Yes,Yes,1250,ABC & Company Ltd
17,Ajil k Mohanan,Web Developer,December,2016,30,2,2,30,22000,22000,...,,1580,19170,Male,Mr,Managing Director,Yes,Yes,2000,ABC & Company Ltd
18,Edison ML,Web Developer,December,2016,30,2,0,30,12000,12000,...,,860,10940,Male,Mr,Managing Director,Yes,Yes,1200,ABC & Company Ltd
19,Basil P E,Web Developer,December,2016,30,2,1,30,22000,22000,...,,1580,24350,Male,Mr,Managing Director,Yes,Yes,1067,ABC & Company Ltd
20,Jobin George,Web Developer,December,2016,30,2,0,30,16000,16000,...,,1150,15100,Male,Mr,Managing Director,Yes,Yes,1600,ABC & Company Ltd
21,Jismon Tomy,Web Developer,December,2016,30,2,1,30,10000,10000,...,,720,10280,Male,Mr,Managing Director,Yes,Yes,1000,ABC & Company Ltd
22,Sharafali P,Ux/Ui Designer,December,2016,30,2,0,30,14000,14000,...,,1010,11740,Male,Mr,Managing Director,Yes,Yes,1400,ABC & Company Ltd
23,,,,,,,,0,,,...,,0,,,,,,,,ABC & Company Ltd
24,,,,,,,,0,,,...,,0,,,,,,,,ABC & Company Ltd
25,,,,,,,,0,,,...,,0,,,,,,,,ABC & Company Ltd
26,,,,,,,,0,,,...,,0,,,,,,,,ABC & Company Ltd
27,,,,,,,,0,,,...,,0,,,,,,,,ABC & Company Ltd
28,,,,,,,,0,,,...,,0,,,,,,,,ABC & Company Ltd
29,,,,,,,,0,,,...,,0,,,,,,,,ABC & Company Ltd
30,,,,,,,,0,,,...,,0,,,,,,,,ABC & Company Ltd
31,,,,,,,,0,,,...,,0,,,,,,,,ABC & Company Ltd
32,,,,,,,,0,,,...,,0,,,,,,,,ABC & Company Ltd
33,,,,,,,,0,,,...,,0,,,,,,,,ABC & Company Ltd
34,,,,,,,,0,,,...,,0,,,,,,,,ABC & Company Ltd
35,,,,,,,,0,,,...,,0,,,,,,,,ABC & Company Ltd
36,,,,,,,,0,,,...,,0,,,,,,,,ABC & Company Ltd
37,,,,,,,,0,,,...,,0,,,,,,,,ABC & Company Ltd
38,,,,,,,,0,,,...,,0,,,,,,,,ABC & Company Ltd
39,,,,,,,,0,,,...,,0,,,,,,,,ABC & Company Ltd
40,,,,,,,,0,,,...,,0,,,,,,,,ABC & Company Ltd
41,,,,,,,,0,,,...,,0,,,,,,,,ABC & Company Ltd
42,,,,,,,,0,,,...,,0,,,,,,,,ABC & Company Ltd
43,,,,,,,,0,,,...,,0,,,,,,,,ABC & Company Ltd
44,,,,,,,,0,,,...,,0,,,,,,,,ABC & Company Ltd
45,,,,,,,,0,,,...,,0,,,,,,,,ABC & Company Ltd
46,,,,,,,,0,,,...,,0,,,,,,,,ABC & Company Ltd
47,,,,,,,,0,,,...,,0,,,,,,,,ABC & Company Ltd